<nz-table #virtualTable tabindex="-1" hidefocus="true" [ngxCellSelectable]="cellSelectionInfo" [data]="listOfData" [valueProp]="'binding'"
  [columns]="columns" [nzVirtualItemSize]="54" [nzData]="listOfData" [nzVirtualForTrackBy]="trackByIndex"
  [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x: '1200px', y: '640px' }">
  <thead>
    <tr>
      <th *ngFor="let c of columns"> {{ c.binding }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr class="disable-select">
        <td *ngFor="let c of columns; let cIndex = index" [id]="index + '-' + cIndex"
          [ngClass]="{'eng-selected-cell': cellSelectionInfo.selectionSet.has(index + '-' + cIndex)}">
          {{ data[c.binding] }}</td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
<div nz-row nzGutter="16" *ngIf="cellSelectionInfo.agg.cnt > 1; else cntAll">
  <div nz-col>
      cntAll: <span>{{ cellSelectionInfo.agg.cntAll }}</span>;
  </div>
  <div nz-col>
      avg: <span >{{ cellSelectionInfo.agg.avg | number: '1.0-2' }}</span>;
  </div>
  <div nz-col>
      sum: <span>{{ cellSelectionInfo.agg.sum | number: '1.0-2' }}</span>;
  </div>
</div>
<ng-template #cntAll>
  cntAll: <span class="font-weight-bold">{{ cellSelectionInfo.agg.cntAll | number: '1.0-2' }}</span> 
</ng-template>